
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test


*.out


go.work

.idea/
mater-test.iml


mattermost/volumes/
mattermost/data/
mattermost/certs/
mattermost/.env
mattermost/docker-compose.override.yml
mattermost/docker-compose.override.yaml


.DS_Store

*.env

